body{

    margin:0;
    font-family:Arial, sans-serif;

    background:linear-gradient(to right,#9bc8ff,#b8e0ff);

    display:flex;
    justify-content:center;
    align-items:center;

    height:100vh;
}

.container{

    width:500px;

    background:white;

    padding:30px;

    border-radius:20px;

    box-shadow:0 10px 25px rgba(0,0,0,.15);
}

h1{

    text-align:center;

    color:#4d73e5;
}

.input-box{

    display:flex;

    margin:25px 0;
}

input{

    flex:1;

    padding:12px;

    border-radius:10px;

    border:2px solid #6b63ff;

    outline:none;

    font-size:16px;
}

button{

    margin-left:10px;

    padding:12px 20px;

    border:none;

    border-radius:10px;

    background:#5d72ff;

    color:white;

    cursor:pointer;

    font-weight:bold;
}

button:hover{

    background:#465df5;
}

.task{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:15px;

    background:#fafafa;

    margin-bottom:12px;

    border-left:5px solid #5d72ff;

    border-radius:10px;
}

.icons{

    display:flex;

    gap:10px;
}

.icon{

    cursor:pointer;

    font-size:18px;
}